:root {
  --Purple-100: hsl(255, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);

  --Yellow-100: hsl(33, 67%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);

  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", serif;
  font-size: 1.8rem;
  background-color: #f6f5f6;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  min-height: 100dvh;
}

main {
  display: grid;
  grid-template-rows: 32.4rem 5.9rem 15.6rem 24.6rem;
  grid-template-columns: repeat(4, 25.6rem);
  gap: 3.2rem;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
}

.card--1 {
  background-color: var(--Purple-500);
  grid-row: 1/2;
  grid-column: 2/4;
  text-align: center;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card--1 h1 {
  color: var(--White);
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 5.8rem;
  letter-spacing: -0.3rem;
  margin-bottom: 2.4rem;
}

.card--1 h1 mark {
  color: var(--Yellow-500);
  background-color: unset;
}

.card--1 img {
  width: 22.1rem;
  margin-bottom: 0.8rem;
}

.card--1 p {
  color: var(--Purple-100);
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
}

.card--2 {
  background-color: var(--White);
  grid-row: 2/4;
  grid-column: 2/3;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card--2 img {
  width: 31.608rem;
  border-radius: 4rem;
}

.card--2 h2 {
  color: var(--Black);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.2rem;
  max-width: 20rem;
}

.card--3 {
  background-color: var(--Yellow-500);
  grid-row: 2/4;
  grid-column: 3/4;
  padding: 2.4rem;
}

.card--3 h2 {
  color: var(--Black);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.2rem;
  max-width: 20rem;
  margin-bottom: 1.6rem;
}

.card--3 img {
  width: 20.8rem;
}

.card--4 {
  background-color: var(--Purple-100);
  grid-row: 1/4;
  grid-column: 4/5;
  padding: 5.009rem 3.2rem;
}

.card--4 h2 {
  color: var(--Black);
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 2.8rem;
  letter-spacing: -0.2rem;
  max-width: 20rem;
  margin-bottom: 2.46rem;
}

.card--4 img {
  width: 35.73rem;
  margin-bottom: 2.4rem;
}

.card--4 p {
  color: var(--Black);
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
}

.card--5 {
  background-color: var(--Purple-500);
  grid-row: 4/5;
  grid-column: 3/5;
  padding: 2.289rem 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.132rem;
}

.card--5 h2 {
  color: var(--White);
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: -0.2rem;
}

.card--5 img {
  width: 22.768rem;
}

.card--6 {
  background-color: var(--White);
  grid-row: 4/5;
  grid-column: 2/3;
  padding: 2.4rem;
}

.card--6 h2 {
  color: var(--Black);
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 5.8rem;
  letter-spacing: -0.3rem;
  margin-bottom: 1.5rem;
}

.card--6 p {
  color: var(--Black);
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 3.842rem;
}

.card--6 img {
  width: 17.893rem;
}

.card--7 {
  background-color: var(--Yellow-100);
  grid-row: 1/3;
  grid-column: 1/2;
  padding: 2.289rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.card--7 h2 {
  color: var(--Black);
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: -0.2rem;
}

.card--7 h2 mark {
  color: var(--Purple-500);
  background-color: unset;
  font-style: italic;
}

.card--7 img {
  width: 19.047rem;
}

.card--8 {
  background-color: var(--Yellow-500);
  grid-row: 3/5;
  grid-column: 1/2;
  padding: 2.4rem;
}

.card--8 h2 {
  color: var(--Black);
  font-size: 4rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: -0.2rem;
  margin-bottom: 5.55rem;
  max-width: 20rem;
}

.card--8 img {
  width: 21.995rem;
}

@media (max-width: 1180px) {
  main {
    grid-template-rows: 32.4rem 24.7rem 49.682rem 24.6rem 13.1rem 35.45rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
    max-width: 68.8rem;
  }

  .card--1 {
    grid-row: 1/2;
    grid-column: 1/3;
    align-items: center;
  }

  .card--1 h1 {
    font-size: 5.4rem;
    line-height: 4.8rem;
    letter-spacing: -4%;
    max-width: 53.6rem;
  }

  .card--1 h1 mark {
    color: var(--Yellow-500);
    background-color: unset;
  }

  .card--1 img {
    width: 19.2rem;
  }

  .card--2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .card--2 h2 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: -6%;
    max-width: 20.8rem;
  }

  .card--3 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .card--3 h2 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: -6%;
    max-width: 25.1rem;
  }

  .card--3 img {
    width: 20.8rem;
  }

  .card--4 {
    grid-row: 3/4;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 3.2rem;
  }

  .card--4 h2 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: -6%;
    max-width: unset;
    margin-bottom: 0;
  }

  .card--4 img {
    width: 35.73rem;
    margin-bottom: 0;
  }

  .card--5 {
    grid-row: 4/5;
    grid-column: 1/3;
    justify-content: center;
    gap: 4rem;
  }

  .card--5 h2 {
    font-size: 3.6rem;
    line-height: 3rem;
    letter-spacing: -6%;
    max-width: 25.7rem;
  }

  .card--6 {
    grid-row: 5/6;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: auto auto;
  }

  .card--6 h2 {
    font-size: 5.4rem;
    line-height: 4.8rem;
    letter-spacing: -4%;
  }

  .card--6 p {
    margin-bottom: unset;
    grid-column: 1/2;
  }

  .card--6 figure {
    grid-row: 1/3;
    grid-column: 2/3;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .card--7 {
    grid-row: 6/7;
    grid-column: 1/2;
  }

  .card--7 h2 {
    font-size: 3.6rem;
    line-height: 3rem;
    letter-spacing: -6%;
  }

  .card--8 {
    grid-row: 6/7;
    grid-column: 2/3;
  }

  .card--8 h2 {
    font-size: 3.6rem;
    line-height: 3rem;
    letter-spacing: -6%;
  }
}

@media (max-width: 620px) {
  body {
    padding: 3.2rem 1.6rem;
  }

  main {
    grid-template-rows: 29rem 16.254rem 21.625rem 46.891rem 37.222rem 21.558rem 23.435rem 35.05rem;
    grid-template-columns: 1fr;
    max-width: 34.3rem;
  }

  .card--1 {
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: center;
  }

  .card--1 h1 {
    font-size: 4.6rem;
    line-height: 4.2rem;
    letter-spacing: -4%;
    max-width: 27.9rem;
  }

  .card--2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .card--2 h2 {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 2.6rem;
    letter-spacing: -6%;
    max-width: unset;
  }

  .card--3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .card--3 h2 {
    font-size: 2.6rem;
    line-height: 2.4rem;
    letter-spacing: -6%;
    max-width: unset;
  }

  .card--4 {
    grid-row: 4/5;
    grid-column: 1/2;
    padding: 1.747rem;
  }

  .card--4 h2 {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -6%;
  }

  .card--4 img {
    width: 100%;
  }

  .card--5 {
    grid-row: 5/6;
    grid-column: 1/2;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }

  .card--5 h2 {
    font-size: 3.2rem;
    line-height: 2.8rem;
    letter-spacing: -6%;
    max-width: 25.7rem;
  }

  .card--6 {
    grid-row: 6/7;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
  }

  .card--6 h2 {
    font-size: 4.6rem;
    line-height: 4.2rem;
    letter-spacing: -4%;
  }

  .card--6 p {
    margin-bottom: 2.4rem;
    grid-column: 1/2;
  }

  .card--6 figure {
    grid-row: 3/4;
    grid-column: 1/2;
    justify-content: start;
  }

  .card--7 {
    grid-row: 7/8;
    grid-column: 1/2;
  }

  .card--7 h2 {
    font-size: 3.2rem;
    line-height: 2.8rem;
    letter-spacing: -6%;
  }

  .card--8 {
    grid-row: 8/9;
    grid-column: 1/2;
  }

  .card--8 h2 {
    font-size: 3.2rem;
    line-height: 2.8rem;
    letter-spacing: -6%;
  }
}

@media (max-width: 376px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 336px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 274px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 213px) {
  html {
    font-size: 25%;
  }
}

@media (max-width: 150px) {
  html {
    font-size: 15%;
  }
}

@media (max-width: 92px) {
  html {
    font-size: 5%;
  }
}
